$flex-map: (
    start: flex-start,
    end: flex-end,
    between: space-between,
    around: space-around,
    stretch: stretch,
    center: center,
);

@function _get-flex-value($key) {

    //축약형으로 사용하고 싶음
	//flex-start -> start
	//flex-end -> end
	//space-between -> between
	//space-around -> around
	//stretch -> stretch
	//center -> center
    @return map-get($flex-map, $key);

}

@mixin flexbox($jc: center, $ai: center) {
    display: flex;
    align-items: _get-flex-value($ai);
    justify-content: _get-flex-value($jc);
}

@mixin inline-flexbox($jc: center, $ai: center) {
    display: inline-flex;
    align-items: _get-flex-value($ai);
    justify-content: _get-flex-value($jc);
}

@mixin column-flexbox($jc: center, $ai: center) {
    display: flex;
    flex-direction: column;
    align-items: _get-flex-value($ai);
    justify-content: _get-flex-value($jc);
}