.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $white;
  padding: 12px 0;
  z-index: $search-modal-level;
  // search-modal 숨기기(transition을 위해 transform을 사용)
  transform: translate3d(100%, 0, 0);
  transition: transform 300ms ease-in-out;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    margin-bottom: 20px;
  }

  &-form {
    @include flexbox(between);

    .input-group {
      // 디바이스에 맞게 사이즈 조절
      flex-grow: 1;
    }

    .btn-ghost {
      // 무슨일이 있어도 사이즈를 유지하기 위해
      flex-grow: 0;
      flex-shrink: 0;
      width: 56px;
      margin-left: 8px;
    }
  }
}
