@import './constants/colors';
@import './constants/typography';
@import './constants/breakpoints';

@import './base/fonts';
@import './base/normalize';
@import './base/reset';

@import './mixins/text-style';
@import './mixins/responsive';
@import './mixins/positions';
@import './mixins/flexbox';

@import './layouts/grids';

@mixin 

p {
  display: block;
  color: #fff;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}
